.site_header {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #DF6822;
    font-size: 34px;
}

body {
    text-align: center;
    font-family: "Courier New", monospace;
    color: #DF6822;
    background-color: #010710;
}